# ==========================================================
# FITNESS CONTROLLER PRO
# ==========================================================

# Telegram Bot
BOT_TOKEN=

# Main Administrator
ADMIN_ID=

# Telegram Group
GROUP_ID=

# PostgreSQL
DATABASE_URL=

# Time Zone
TIMEZONE=Asia/Tashkent

# Daily Survey

SURVEY_START_HOUR=20
SURVEY_START_MINUTE=0

REMINDER_1_HOUR=21
REMINDER_1_MINUTE=0

REMINDER_2_HOUR=22
REMINDER_2_MINUTE=0

SURVEY_CLOSE_HOUR=23
SURVEY_CLOSE_MINUTE=0

SUMMARY_HOUR=23
SUMMARY_MINUTE=1

# Default language

DEFAULT_LANGUAGE=ru

# Excel

EXCEL_FOLDER=exports

# Logs

LOG_LEVEL=INFO

# Environment

ENVIRONMENT=production

# Render

PORT=10000
